/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.row{
    border: 1px solid;
    width: 100%;
    height: 500px;
    margin: 10px;
    display: flex;
}
.col{
    /* display: inline-block; */
    width: 45%;
    height: 100px;
    margin: 10px;
}
img{
    width: 450px;
    height: 450px;
    margin: 15px;
}
.my-list{
    /* margin-bottom: 80%; */
    vertical-align: top;
}
.heading{
    text-align: center;
    margin: 200px 50px;
}